* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1024px;
    font-size: 24px;

}

h1 {
    font-size: 32px;
    margin: 15px;
    text-align: center;

}

h3 {
    font-style: italic;
    font-size: 30px;
}

main {
    display: flex;
    justify-content: space-around;
    margin: 30px;

}

.info {
    flex-grow: 1;
}

section {
    padding: 15px;
    margin-left: 30px;
}

footer {
    margin: 10px;
    font-size: 20px;
}

.contact {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}